.menu {
	height: 90px;
	background-color: #ffffff;
}

.menu-seguimento {
	height: 30px;
	background-color: #508364;
}

.slide {
	height: 400px;
	background-color: #85BEAB;
}

.img-slide {
	width: 70%;
}

.menu-buscar-top {
	height: 50px;
	font-size: 20px;
	background-color: #85BEAB;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

.menu-buscar {
	height: 150px;
	background-color: #85BEAB;
}

.logo {
	width: 25%;
}

.texto-menu {
	color: #508364;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.texto-menu:hover {
	color: #85BEAB;
	font-size: 18px;
}

.texto-seguimento {
	color: #ffffff;
	font-size: 16px;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

.texto-busca {
	color: #ffffff;
	font-size: 16px;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

.rodape {
	height: 100px;
	background-color: #508364;
}
.rodape-linhas {
	border: 1px solid;
	border-top-color: #ffffff;
	border-left-color: #508364;
	border-right-color: #508364;
	border-bottom-color: #ffffff;
}

.texto-rodape {
	text-align: center;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

.icons {
	width: 3%;
	height: 3%;
}

.texto-cards-top {
	color: #508364;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

/* azul 85BEAB
 verde 508364*/

 .space {
 	height: 50px;
 }